/*
 This is a custom class to 'stack' elements vertically and centered.
*/		
.stacked {
 display: flex;
 justify-content: center;
 align-items: center;		 
 flex-direction: column;
}

.header {
 padding:2% 0%;/*set padding above and none in sides*/
 
 color:white;
 background-color:#3B4990;
 
}

#main_content {			
	margin: 2% 15%;/*set margin above and below*/
}